<p>ASignatura</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">ID</th>
      <th> </th>


    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let country of countries; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>

        {{ country.nombre }}
      </td>
      <td>{{ country.id }}</td>
      <td>
        <button (click)="openbutton(country)">Agregar Docente</button>
        <button (click)="openbutton2(country)"> Agregar Estudiante</button>

      </td>


    </tr>
  </tbody>
</table>